<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mohs10">
<test name="Mohs10 Release1">
<classes>
    <class name="com.mohs.scripts.LoginAndOrder"/>
   <class name="com.mohs.scripts.ShoppingCart"/>
    <class name="com.mohs.scripts.LoginPage"/>
    </classes>
</test>
  <test thread-count="5" name="Test">
    
  </test> <!-- Test -->
</suite> <!-- Suite -->

